
<% if @rsvp.attending %>
  $("#rsvp_form").html("<h4>Thanks <%= j(@rsvp.name) %>! Can't wait to celebrate with you!</h4>")
<% else %>
  $("#rsvp_form").html("<h4>Bummer <%= j(@rsvp.name) %>! We'll miss you.</h4>")
<% end %>
