html {
//  background: image-url('grimace.jpg') no-repeat;
//  background-size: 1400px;
//  background-attachment: fixed;
  font-family: 'Droid Sans', sans-serif;
  font-size: 29px;
  color: rgb(51, 76, 73);
}

.section {
  height: 800px;
}

#one {
  height: 800px;
}


#two {
  height: 400px;
  
}

#three {
  height: 800px;
  background-image: image-url('yellow.jpg');  
}